# set the udev rule, make the device_port be fixed by uwb1
#
KERNEL=="ttyACM*", ATTRS{idVendor}=="1366", ATTRS{idProduct}=="0105", ATTRS{serial}=="000760186010", MODE:="0777", SYMLINK+="uwb1"

